<button
        style="display:inline;margin:2px;"
        type="button"
        class="btn btn-default btn-sm op-show-liq"
        data-contrato-id = {{record.pk}}>

    <span style="display:inline;color:blue" class="glyphicon glyphicon-chevron-down"></span>
</button>

<button style="display:inline;margin:2px;" type="button" class="btn btn-default btn-sm"
       onclick="location.href='{% url 'operacion_edit' pk=record.pk %}';">
    <span style="display:inline;" class="glyphicon glyphicon-edit"></span>
</button>


<button style="display:inline;margin:2px;" type="button" class="btn btn-default btn-sm"
        onclick=" DeleteOperacionModal('{{ record.short_description }}','{% url 'operacion_delete' pk=record.pk  %}')">
    <span style="display:inline;" class="glyphicon glyphicon-trash"></span>
</button>

