<button
        style="display:inline;margin:2px;"
        type="button"
        class="btn btn-default btn-sm op-show-liq"
        data-contrato-id = {{record.pk}}>

    <span style="display:inline;color:blue" class="glyphicon glyphicon-chevron-down"></span>
</button>

<button style="display:inline;margin:2px;" type = "button" class ="btn btn-default btn-sm"
    onclick="location.href='{% url 'operacion_detail' pk=record.pk %}';">
    <span style="display:inline;"  class ="glyphicon glyphicon-info-sign" ></span >
</button >


