{% extends 'managers/form.html' %}
{% load static %}
{% load widget_tweaks %}



{% block menu %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/tableStyle.css' %}">
    {% include "managers/tabs.html" with active_tab='operaciones' %}
{% endblock %}



{% block content_header %}

    <div style="margin:1%;padding:15px 0 10px 0;">
        <h2 style="display:inline;">Editar Operación</h2>
    </div>

{% endblock content_header %}


{% block submit_row %}
    <div class="submit-row">
        <input style="margin:0 0 0 8px;float:right" type="submit" value="Guardar" class="btn btn-primary"
               name="_save">
        {% if to_be_approved %}
            <input style="margin:0 0 0 8px;float:right;" type="submit" value="Guardar y Aprobar" class="btn btn-success" name="_approve">
        {% endif %}
    </div>
{% endblock submit_row %}

{% block formJQReadyFunction %}
    $('#id_op_tipo').on("change", function () {
    if ($('#id_op_tipo').val() == 'P')
    $("#id_row_precio").show();
    else
    $("#id_row_precio").hide();
    })
    $( "#id_op_tipo" ).trigger( "change" );


{% endblock formJQReadyFunction %}
