{% extends 'managers/form.html' %}
{% load static %}
{% load widget_tweaks %}



{% block menu %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/tableStyle.css' %}">
    {% include "managers/tabs.html" with active_tab='operaciones' %}
{% endblock %}


{% block content_header %}

    <div style="margin:1%;padding:15px 0 10px 0;">
        <h2 style="display:inline;">Agregar Operación</h2>
    </div>


{% endblock content_header %}

{% block submit_row %}
    <div class="submit-row">
        <input type="submit" value="Guardar" class="btn btn-primary"
               name="_save">
        <input type="submit" value="Guardar y agregar otro"
               class="btn btn-primary" name="_addanother">
        <input style="background-color: darkgoldenrod" type="submit" value="Guardar y agregar liquidación"
               class="btn btn-primary" name="_addLiquidacion">

    </div>
{% endblock submit_row %}



{% block formJQReadyFunction %}
    $('#id_op_tipo').on("change", function () {
    if ($('#id_op_tipo').val() == 'P')
    $("#id_row_precio").show();
    else
    $("#id_row_precio").hide();
    });
{% endblock formJQReadyFunction %}



