{% extends 'managers/model_list.html' %}
{% load static %}
{% load widget_tweaks %}
{% load auth_extras %}


{% block menu %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/tableStyle.css' %}">
    {% include "managers/tabs.html" with active_tab='operaciones' %}
{% endblock %}

{% block content_header %}

    <div style="margin:1%;padding:15px 0 10px 0;">
        <h2 style="display:inline;">Operaciones</h2>
        <a style="display:inline;float:right;" href="{% url "operacion_new" %}"
           class="btn btn-small btn-primary dark"><span class="hidden-phone"><i
                class="fa fa-plus"></i> Operación</span></a>
    </div>

{% endblock content_header %}

{% block scripts %}
$(document).ready(function () {

    function gen_pe_tooltip(days){
        return 'Liquidacion Pendiente de entrega faltando ' + days + ' días para el final del contrato';
    }

    function gen_pfp_tooltip(days){
        return 'El precio no ha sido fijado y faltan ' + days + ' días para el final del contrato';
    }


    function gen_pl_tooltip(days){
        return 'Pendiente de liquidación desde hace ' + days + ' días';
    }

    function gen_pp_tooltip(days){
        return 'Pendiente de pago desde hace ' + days + ' días';
    }


    const NONWARNING_TOOLTIP = 'Todo bien hasta el momento'
    const LIQFINISHED_TOOLTIP = 'La liquidación ha cumplido todos los pasos satisfactoriamente'
    const CF_PE_TOOLTIP = 'El contrato ha finalizado y no se ha entregado el cereal acordado.'
    const CF_PFP_TOOLTIP = 'El contrato ha finalizado y el precio no se fijo.'
    const L_NON_APPROVED = 'La liquidación espera aprobación.'
    const CEND_AND_LIQ_IN_PROGRESS_TOOLTIP = 'El contrato finalizo, pero la liquidación continua en progreso.'

    var parentsData = {{liq_data | safe}};
    var $table = $('#op-table');

    getAlarmIcon = function(liq){
                    if (liq.status == 2)
                        return '<span title="' + gen_pl_tooltip(liq.days) + '"style="padding:1px;color:red;" class="glyphicon glyphicon-warning-sign center">'
                    if (liq.status == 3)
                        return '<span title="' + gen_pp_tooltip(liq.days) + '" style="padding:1px;color:red;" class="glyphicon glyphicon-warning-sign center">'
                    if (liq.status == 4)
                        return '<span title="' + gen_pfp_tooltip(liq.days) + '"style="padding:1px;color:red;" class="glyphicon glyphicon-warning-sign center">'
                    if (liq.status == 5)
                        return '<span title="' + LIQFINISHED_TOOLTIP + '"style="padding:1px;color:green;" class="glyphicon glyphicon-ok">'
                    if (liq.status == 7)
                        return '<span title="' + gen_pe_tooltip(liq.days) + '"style="padding:1px;color:red;" class="glyphicon glyphicon-warning-sign center">'
                    if (liq.status == 8)
                        return '<span title="' + CF_PE_TOOLTIP + '"style="padding:1px;color:red;" class="glyphicon glyphicon-remove">'
                    if (liq.status == 9)
                        return '<span title="' + CF_PFP_TOOLTIP + '"style="padding:1px;color:red;" class="glyphicon glyphicon-remove">'
                    if (liq.status == 10)
                        return '<span title="' + CEND_AND_LIQ_IN_PROGRESS_TOOLTIP + '"style="padding:1px;color:red;" class="glyphicon glyphicon-warning-sign center">'
                    if (liq.status == 99)
                        return '<span title="' + L_NON_APPROVED + '"style="padding:1px;color:black;" class="fa fa-spinner fa-spin">'

                    return '<span title="' + NONWARNING_TOOLTIP +  '"style="padding:1px;color:green;" class="glyphicon glyphicon-thumbs-up">'
    }

    $table.find('.op-show-liq').on('click', function (e) {
        e.preventDefault();
        var $btn = $(e.target).closest('button')
        var span = $btn.children()[0];
        $row = $btn.closest('tr'), $nextRow = $row.next('tr.expand-child');
        numeroContrato = $btn.data("contrato-id");

        // Change button icon
        $(span).toggleClass('glyphicon-chevron-up glyphicon-chevron-down');

        // if .expand-chid row exist already, toggle
        if ($nextRow.length) {
            $nextRow.toggle($(span).hasClass('glyphicon-chevron-up'));
            // if not, create .expand-child row
        } else {
                var liqList;
                for (i = 0; i < parentsData.parents.length; i++)
                    if (parentsData.parents[i].id === numeroContrato){
                        liqList = parentsData.parents[i];
                        break;
                    }

                var newRow =
                '<tr class="expand-child ExpandAreaLiqTable" id="collapse' + $btn.data('id') + '">' +
                '<td colspan="12">' +
                '<table class="table table-condensed table-bordered liqTable">' +
                '<thead>' +
                '<tr  class="FieldNameLiqTable">' +
                '<th></th>' +
                '<th>Toneladas</th>' +
                '<th>Estado</th>' +
                '<th>Fecha Cambio Estado</th>';
                if (liqList.tipo == 'F')
                    newRow += '<th>Precio x Ton</th>';

                if ( liqList.keys.includes("tipo_de_cambio"))
                    newRow += '<th>Tipo de Cambio</th>';

                newRow += '<th>Monto(ARS)</th>' +
                '<th>#LPG</th>' +
                '<th></th>' +
                '</tr>' +
                '</thead>';

                newRow +='<tfoot> <tr>'+
                        '<td class="footRow" colspan="' + liqList.keys.length + '">'

                newRow +='<b>Total: </b>' + liqList.total + ' toneladas <b style="margin-left: 1%"> Restantes: </b>' +
                        liqList.restantes + ' toneladas</td>'+
                        '</tr> </tfoot>'
                newRow += '<tbody>';

                    $.each(liqList.rows, function (i, elem) {
                        newRow += '<tr class="'+ elem.class +'">' +
                            '<td style="vertical-align: middle; text-align: center;">' +
                                getAlarmIcon(elem) +
                            '</span> </td>' +
                            '<td>' + elem.toneladas + '</td>' +
                            '<td>' + elem.estado + '</td>' +
                            '<td>' + elem.fecha_cambio_estado + '</td>'
                        if (liqList.tipo == 'F')
                            newRow+= '<td>' + elem.precio + '</td>';

                        if (liqList.keys.includes("tipo_de_cambio"))
                            newRow += '<td>' + elem.tipo_de_cambio + '</td>';

                        newRow += '<td>' + elem.monto + '</td>';
                        newRow += '<td>' + elem.numero_LPG + '</td>' + '<td>';
                                {% if request.user|has_group:"global_view" or request.user.is_superuser %}
                                    edit_url = "'/operacion/liquidacion/" + elem.tipo + "/" + elem.id  + "/edit/'";
                                    remove_url = '/operacion/liquidacion/' + elem.tipo + '/' + elem.id  + '/delete/';

                                    newRow += '<button style="display:inline;margin:2px;" type="button" class="btn btn-default btn-sm"' +
                                     'onclick="location.href=' + edit_url +';">' +
                                    '<span style="display:inline;" class="glyphicon glyphicon-edit"></span>' +
                                    '</button>' +


                                    '<button style="display:inline;margin:2px;" type="button" class="btn btn-default btn-sm"' +
                                     'onclick="DeleteLiquidacionModal(remove_url)">' +
                                    '<span style="display:inline;" class="glyphicon glyphicon-trash"></span>' +
                                    '</button>';
                                {% else %}
                                    if (elem.approved === 'True'){
                                        detail_url = "'/operacion/liquidacion/" + elem.tipo + "/" + elem.id  + "/edit/'";
                                        icon_class = 'glyphicon glyphicon-edit';
                                    }else{
                                        detail_url = "'/operacion/liquidacion/" + elem.tipo + "/" + elem.id  + "/detail/'";
                                        icon_class = 'glyphicon glyphicon-info-sign';
                                    }
                                    newRow +='<button style="display:inline;margin:2px;" type="button" class="btn btn-default btn-sm"' +
                                     'onclick="location.href=' + detail_url +';">' +
                                    '<span style="display:inline;" class="' + icon_class + '"></span>' +
                                    '</button>';
                                {% endif %}
                            newRow += '</td>' +'</tr>';
                    });

            newRow += '</tbody></table>'+
                        '<a style="display:inline;float:right;margin:1%;"' +
                        'href="{% url 'liquidacion_new' operacion_pk=999 %}"'.replace (999, numeroContrato) +
                        'class="btn btn-small btn-primary dark">'+
                        '<span class="hidden-phone"><i class="fa fa-plus"></i> Liq</span></a>'+
                        '</td></tr>';
            // set next row
            $nextRow = $(newRow).insertAfter($row);

        }
    });

    if ({{ expanded | yesno:"true,false" }}){
        var list = $table.find('.op-show-liq')
        for (var index = 0; index < list.length; index++)
            list[index].click();
    }
});
{% endblock scripts %}
