{% extends 'managers/form.html' %}
{% load static %}
{% load widget_tweaks %}



{% block menu %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/tableStyle.css' %}">
    {% include "managers/tabs.html" with active_tab='agentes' %}
{% endblock %}

{% block content_header %}

    <div style="margin:1%;padding:15px 0 10px 0;">
        <h2 style="display:inline;">Agregar Agente</h2>
    </div>


{% endblock content_header %}



{% block submit_row %}
    <div class="submit-row">
        <input style="margin:0 0 0 8px;float:right" type="submit" value="Guardar" class="btn btn-primary"
               name="_save">
        <input style="margin:0 0 0 8px;float:right" type="submit" value="Guardar y agregar otro"
               class="btn btn-primary" name="_addanother">
    </div>
{% endblock submit_row %}


