<button style="display:inline;margin:2px;" type = "button" class ="btn btn-default btn-sm"
    onclick="location.href='{% url 'agente_edit' pk=record.pk %}';">
    <span style="display:inline;"  class ="glyphicon glyphicon-edit" ></span >
</button >

<button style="display:inline;margin:2px;"  type = "button" class ="btn btn-default btn-sm"
       onclick=" DeleteAgenteModal('{{ record.full_name }}','{% url 'agente_delete' pk=record.pk  %}')">
    <span style="display:inline;"  class ="glyphicon glyphicon-trash" ></span >
</button >

