{% extends 'managers/form.html' %}
{% load static %}
{% load widget_tweaks %}



{% block menu %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/tableStyle.css' %}">
    {% include "managers/tabs.html" with active_tab='preferencias' %}
{% endblock %}



{% block content_header %}

        <style>
        .currencyinput {
            border: 1px inset #ccc;
        }
        .currencyinput input {
            border: 0;
        }
            <div style="margin:1%;padding:15px 0 10px 0;">
                <h2 style="display:inline;">Editar Preferencias</h2>
            </div>
    </style>

    <div style="margin:1%;padding:15px 0 10px 0;">
        <h2 style="display:inline;">Editar Preferencias</h2>
    </div>

{% endblock content_header %}


{% block submit_row %}
    <div class="submit-row">
        <input style="margin:0 0 0 8px;float:right" type="submit" value="Guardar" class="btn btn-primary"
               name="_save">
    </div>
{% endblock submit_row %}
