<button style="display:inline;margin:2px;" type = "button" class ="btn btn-default btn-sm"
    onclick="location.href='{% url 'productor_detail' pk=record.pk %}';">
    <span style="display:inline;"  class ="glyphicon glyphicon-info-sign" ></span >
</button >



