<button style="display:inline;margin:2px;" type = "button" class ="btn btn-default btn-sm"
        onclick="location.href='{% url 'productor_edit' pk=record.pk %}';">
    <span style="display:inline;"  class ="glyphicon glyphicon-edit" ></span >
</button >

<button style="display:inline;margin:2px;"  type = "button" class ="btn btn-default btn-sm"
        onclick=" DeleteProductorModal('{{ record.full_name }}','{% url 'productor_delete' pk=record.pk  %}')">
    <span style="display:inline;"  class ="glyphicon glyphicon-trash" ></span >
</button >

