{% extends 'managers/model_list.html' %}
{% load static %}
{% load widget_tweaks %}



{% block menu %}
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
    <link rel="stylesheet" href="{% static 'manager/css/tableStyle.css' %}">
    {% include "managers/tabs.html" with active_tab='productores' %}
{% endblock %}



{% block content_header %}
    <div style="margin:1%;padding:15px 0 10px 0;">
        <h2 style="display:inline;">Productores</h2>
        <a style="display:inline;float:right;" href="{% url "productor_new" %}"
           class="btn btn-small btn-primary dark"><span class="hidden-phone"><i class="fa fa-plus"></i> Productor</span></a>
    </div>

{% endblock content_header %}

