{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mugica Corretaje</title>
    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!-- fontawesome -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <!-- animate -->
    <link rel="stylesheet" type="/static/text/css" href="static/css/animate.css"/>
    <!-- owl-carousel -->
    <link rel="stylesheet" href="/static/css/owl.carousel.css"/>
    <!-- slicknav -->
    <link rel="stylesheet" href="/static/css/slicknav.css">
    <!-- style css -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- responsive -->
    <link rel="stylesheet" href="/static/css/responsive.css"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/icon.ico"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#navbar-example">
<div id="home"></div>
<!-- header-section-start -->
<header>
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href=""><img src="/static/images/logo2.png" alt=""/></a>
            </div>
            <nav class="mainmenu" id="navbar-example">
                <ul id="nav" class="nav nav-tabs" role="tablist">
                    <li><a href="#home">HOME</a></li>
                    <li><a href="#service">SERVICIOS</a></li>
                    <li><a href="#contact">CONTACTO</a></li>
                    <li><a onclick="location.href = 'accounts/login';">LOGIN</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- header-section-end -->


<!-- slider-section-start -->
<section class="slider_area">
    <div id="image_carousel_1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#image_carousel_1" data-slide-to="0" class="active"></li>
            <li data-target="#image_carousel_1" data-slide-to="1"></li>
            <li data-target="#image_carousel_1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single_slide">
                    <div class="slider_bg slide-1"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="slide_text">
                                    <div class="table">
                                        <div class="table-cell">
                                            <h1>Facilitamos tu Trabajo</h1>
                                            <div class="bg-yellow"></div>
                                            <span>Una Plataforma única, que te permite organizar y administrar tus ventas</span><br/>
                                            <a class="digital" href="#contact">Trabaja con Nosotros</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single_slide">
                    <div class="slider_bg slide-2"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="slide_text">
                                    <div class="table">
                                        <div class="table-cell">
                                            <h1>Olvide las Planillas</h1>
                                            <div class="bg-yellow"></div>
                                            <span>Nuestra plataforma digital le permite llevar el control preciso de cada uno de sus contratos y entregas.</span><br/>
                                            <a class="digital" href="#contact">Trabaja con Nosotros</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single_slide">
                    <div class="slider_bg slide-3"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="slide_text">
                                    <div class="table">
                                        <div class="table-cell">
                                            <h1>Nunca mas olvidos</h1>
                                            <div class="bg-yellow"></div>
                                            <span>Al ingresar, nuestro sistema la avisará detalladamente cada una de las entregas. Avisando si alguna esta retrasada por algún motivo.</span><br/>
                                            <a class="digital" href="#contact">Trabaja con Nosotros</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="left fawesome-control" href="#image_carousel_1" role="button" data-slide="prev"><img
                src="/static/images/slider/arrow-pre.png" alt=""/></a>
        <a class="right fawesome-control" href="#image_carousel_1" role="button" data-slide="next"><img
                src="/static/images/slider/arrow-next.png" alt=""/></a>
    </div>
</section>
<!-- slider-section-end -->


<!-- service-section-start -->
<section class="service section_padding" id="service">
    <div class="container">
        <div class="row">
            <div class="service_title section-title col-text-center text-center wow flipInX">
                <h1>SERVICIOS</h1>
                <p>En Mugica Corretajes pensamos en lo mejor para el Agente de Corretajes <br/>brindando las
                    herramientas necesarias para un trabajo mas simple y organizado<br/></p>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="single_sercives row-margin-bottom">
                        <div class="single_sercives_icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="block-title">
                            <a href="#"><h4>Multiplataforma</h4></a>
                            <p>Utilice su aplicación en PC o desde su celular.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_sercives row-margin-bottom">
                        <div class="single_sercives_icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="block-title">
                            <a href="#"><h4>Organizador</h4></a>
                            <p>Visualise todas sus operaciones en un solo lugar</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_sercives row-margin-bottom">
                        <div class="single_sercives_icon">
                            <i class="fa fa-bell"></i>
                        </div>
                        <div class="block-title">
                            <a href="#"><h4>Alarmas</h4></a>
                            <p>El sistema le ayudará a recordar cuando alguna entrega este retrasada o con algun
                                problema.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single_sercives row-margin-bottom">
                        <div class="single_sercives_icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="block-title">
                            <a href="#"><h4>Soporte</h4></a>
                            <p>Contacto directo con su cliente para resolver problemas.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-section-end -->

<!-- contact-section-start -->
<section class="contact section_padding" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-text-center text-center">
                <div class="contact_title section-title wow flipInX" data-wow-delay="0.3s">
                    <h1>CONTACTENOS</h1>
                </div>
                <div class="row">
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="contact_icon">
                            <i class="fa fa-mobile"></i>
                            <p>123-456-7890</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="contact_icon">
                            <i class="fa fa-map-marker"></i>
                            <p>RIO CUARTO, CORDOBA - ARGENTINA</p>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="contact_icon">
                            <i class="fa fa-envelope-o"></i>
                            <p>NO-REPLY@DOMAIN.COM</p>
                        </div>
                    </div>
                </div>
                <hr class="margin_eight"/>
                <form id="contact_form" method="POST">
                    {% csrf_token %}
                    <div class="col-sm-6">
                        {% render_field form.name id="contact-name" placeholder+="Nombre" name+="name" %}
                        {% render_field form.email id="contact-mail" placeholder+="Email" name+="email" %}
                        {% comment %} <input type="text" placeholder="Your Name" name="name">{% endcomment %}
                        {% comment %} <input type="text" placeholder="Your Email" name="email">{% endcomment %}
                    </div>
                    <div class="col-sm-6">
                        <div class="message_text">
                            {% render_field form.message id="contact-msg" name+="message" rows="3" cols="40" placeholder="Mensaje" %}
                            {% comment %}<textarea name="message" rows="3" cols="40" placeholder="Message"
                                      required="required"></textarea>{% endcomment %}
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <span class="required">*Por favor, complete todos los campos correctamente</span>
                        <input type="submit" class="btn-black " value="Enviar" name="send message" id="contact-button">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- contact-section-end -->

<!-- contact-bottom-section-start -->
<section class="contact-icon contact_section_padding">
    <div class="container">
        <div class="row">
            <div class="social_icon text-center">
                <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
                <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>
                <a href="www.youtube.com"><i class="fa fa-youtube"></i></a>
                <a href="www.linkedin.com"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- contact-bottom-section-end -->
<!-- footer-section-start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="footer_copyright">
                <p>&copy;2017 POWERED BY <a>Mugica Corretaje</a>.</p>
                <a href="#"><img src="/static/images/logo2.png" alt=""/></a>
            </div>
        </div>
    </div>
</footer>
<!-- footer-section-end -->

<!-- jquery-1.11.3 -->
<script src="/static/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap js -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- slicknav js -->
<script src="/static/js/jquery.slicknav.min.js"></script>
<!-- easyPieChart -->
<script src="/static/js/easyPieChart.js"></script>
<!-- sticky -->
<script src="/static/js/jquery.sticky.js"></script>
<!-- scrollUp -->
<script src="/static/js/jquery.scrollUp.js"></script>
<!-- counterup -->
<script src="/static/js/counterup.min.js"></script>
<script src="/static/js/waypoints.min.js"></script>
<!-- wow -->
<script src="/static/js/wow.min.js"></script>
<!-- isotope -->
<script src="/static/js/isotope.pkgd.min.js"></script>
<!-- owl-carousel -->
<script src="/static/js/owl.carousel.min.js"></script>
<!-- main js -->
<script src="/static/js/main.js"></script>

<!-- Modal to inform contact sent -->
<div class="modal fade" id="conUsModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header okHeader" id="modalHeader" >
                <button id="timesModalBtn" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Mugica Corretajes</h4>
            </div>
            <div class="modal-body">
                <p id="conUsModalBody"></p>
            </div>
            <div style="padding: 15px;text-align: right;border-top: 1px solid #e5e5e5;">
                <button id="modalClose" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    //Contact Us form and Modal window behavior
    $('#modalClose').click(function () {
        $('#conUsModal').removeClass('show').addClass('fade');
    });
    $('#timesModalBtn').click(function () {
        $('#conUsModal').removeClass('show').addClass('fade');
    });
    // Submit post on submit
    $('#contact_form').on('submit', function (event) {
        event.preventDefault();
        $('#contact-button').prop("disabled", true);
        $('#contact-button').toggleClass("hovered");
        console.log("form submitted!");  // sanity check
        var frm = $('#contact_form');
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                if (data['ok-msg']) {
                    if ($('#modalHeader').hasClass('failHeader')) {
                        $('#modalHeader').removeClass('failHeader');
                        $('#modalHeader').addClass('okHeader');
                    }
                    $('#conUsModalBody').text(data['ok-msg']);
                } else {
                    if($('#modalHeader').hasClass('okHeader')){
                        $('#modalHeader').removeClass('okHeader');
                        $('#modalHeader').addClass('failHeader');
                    }
                    $('#conUsModalBody').text(data['fail-msg']);
                }
                $('#conUsModal').removeClass('fade').addClass('show');
                if (data['ok-msg']){
                    $('#contact-name').val('');
                    $('#contact-mail').val('');
                    $('#contact-msg').val('');
                }
                $('#contact-button').prop("disabled", false);
                $('#contact-button').removeClass("hovered");
            },
            error: function (data) {
                if($('#modalHeader').hasClass('okHeader')){
                    $('#modalHeader').removeClass('okHeader');
                    $('#modalHeader').addClass('failHeader');
                }
                $('#conUsModal').text("Ha ocurrido un error. Verifique su conexión a internet e intente más tarde.");
                $('#contact-button').prop("disabled", false);
                $('#contact-button').removeClass("hovered");
            }
        });
        return false;
    });


</script>


</body>
</html>
