/*
h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}
*/
.form-row {
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #2196F3;
}

.submit-row {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
}

.required{
    color:red;
}

.errorlist li{
    color: red;
}