ul.messagelist li {
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 0 0;
}

ul.messagelist{
    padding-left:0px;
}

.success {
    background: #dfd url("/static/admin/img/icon-yes.svg") 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
}

.info {
    background: aliceblue url("/static/admin/img/icon-alert.svg") 40px 12px no-repeat;
    background-size: 16px auto;
    color: #333;
}