h1.filter{
	margin-right:10px;
}

p.filter{
	margin-left:5px;
}

select.filter{
	margin-right: 5px;
}
.filter{
	display:inline;
}

#filter_link:active, #filter_link:visited, #filter_link:focus{
    text-decoration:none;
}

#filter_link:hover{
    text-decoration:underline;
}

.form-group{
	margin-left:1%;
}

.FieldNameLiqTable{
	background-color: rgba(51, 122, 183, 0.37)
}

.ExpandAreaLiqTable{
	background-color: rgba(252, 248, 227, 0.37)
}

tr td:last-child{
    width:1%;
    white-space:nowrap;
}

.liqTable{
	width:98%;
	margin:10px 1% 10px 1%;
}

.footRow {
	background-color: khaki;
}

.highlihted{
	background-color: #ffc107!important;
}

.estado{
	vertical-align: middle; !important;
	text-align: center;
}