<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../static/css/login.css"/>
    <meta charset="utf-8">
    <title>{% block title %}Mugica Corretajes{% endblock %}</title>
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
</head>
<body style="height:initial;">
<div class="container">
	<div class="card card-container">
        <div style="height: 10%">
        <img src="../../../static/images/logo2.png" alt="Error" style="max-width: 100%; max-height: 100%; display:block; margin:auto; padding-top:1%; padding-bottom:10%" />
    </div>

    <div class="form-signin">
        {% block content %}
        {% endblock %}
    </div><!-- /card-container -->
</div>
</body>
<script type="text/javascript">
   if (document.getElementById("id_new_password1") !== null){
    document.getElementById("id_new_password1").placeholder = "Nueva Contraseña";
    document.getElementById("id_new_password1").setAttribute("class", "form-control" );

   }
   if (document.getElementById("id_new_password2") !== null){
    document.getElementById("id_new_password2").placeholder = "Confirmacion de Contraseña";
    document.getElementById("id_new_password2").setAttribute("class", "form-control" );
   }
</script>
</html>