{% extends "registration/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Tu usuario y contraseña no coinciden.<br>Por favor, intenta nuevamente.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
{% endblock %}
