{% extends './pass_base.html' %}

{% block content %}
  <p>
    Le enviamos un correo con las instrucciones para reiniciar su contraseña. Si el correo
      que escribió es el registrado en nuestro sistema, debería recibirlo en unos segundos.
  </p>
  <p>
    Si transcurridos unos minutos, no recibió el correo. Por favor revise que el correo ingresado sea
      el correcto y verifique su carpeta de SPAM antes de intentarlo nuevamente.
  </p>
{% endblock %}