{% extends 'registration/pass_base.html' %}

{% block content %}
  <h4 style="text-align:center;">Restitución de Contraseña</h4>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="enviar_button">Enviar</button>
  </form>
{% endblock %}