{% extends './pass_base.html' %}

{% block content %}
  <p>
    Su password fue correctamente modificado. Por favor ingrese nuevamente <a href="{% url 'login' %}">Iniciar Sesión</a>.
  </p>
{% endblock %}