<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/css/login.css"/>
    <meta charset="utf-8">
    <title>{% block title %}Mugica Corretajes{% endblock %}</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	<div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->

            <div style="height: 10%">
            <img src="../../static/images/logo2.png" alt="Error" style="max-width: 100%; max-height: 100%; display:block; margin:auto; padding-top:1%; padding-bottom:10%" />
            </div>

            <div class="form-signin">
                {% block content %}
                {% endblock %}
                <!--<button class="btn btn-lg btn-success btn-block btn-signin" type="submit">Iniciar Sesión</button>-->
            </form><!-- /form -->
        </div><!-- /card-container -->
</div>
    <div>

    </div>

</body>
<script type="text/javascript">
   if (document.getElementById("id_username") !== null) {
       document.getElementById("id_username").placeholder = "Ingrese su E-Mail";
       document.getElementById("id_username").setAttribute("class", "form-control")
   }
   if (document.getElementById("id_password") !== null){
    document.getElementById("id_password").placeholder = "Contraseña";
    document.getElementById("id_password").setAttribute("class", "form-control" )
   }
</script>
</html>