{% extends 'registration/base_reset.html' %}
{% load i18n %}
{% load static%}

{% block content %}
  {% if validlink %}
    <h3 style="margin:auto; text-align: center;">Cambio de Contraseña</h3>
    <form method="post">
      {% language 'es' %}
      {% csrf_token %}
      {{ form.as_p }}
      {% endlanguage %}
      <button type="submit">Cambiar Contraseña</button>
    </form>
  {% else %}
    <p>
      El link para cambiar la contraseña es inválido, posiblemente por que ya se uso.
      Por favor solicite nuevamente el cambio de contraseña.
    </p>
  {% endif %}
{% endblock %}