{% load staticfiles %}

<!DOCTYPE html>
<html>
<title>Directo Al Grano</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'manager/css/baseStyle.css' %}">
<link rel="stylesheet" href="{% static 'manager/css/formStyle.css' %}"> <!-- Nando -->
<link rel="stylesheet" href="{% static 'manager/css/messageListStyle.css' %}"> <!-- Nando -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Nando -->
<script src="{% static 'manager/js/jquery-3.2.1.js' %}"></script> <!-- Nando -->
<script src="{% static 'manager/js/bootstrap.min.js'%}"></script> <!-- Nando -->

<script src="{% static 'manager/js/modalWindow.js' %}"></script> <!-- Nando -->

<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Directo Al Grano</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:220px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <!--<div class="w3-col s3">-->
      <!--<img src="{% static 'manager/img/avatar2.png' %}" class="w3-circle w3-margin-right" style="width:46px">-->
    <!--</div>-->
    <div class="w3-col s9" style="width:100%;overflow: auto;">
      <i class="fa fa-user" style="color:black;font-size:20px"></i> <span style="padding-left:5px"><strong>{{request.user.agente.full_name}}</strong></span><br>
    </div>

  </div>
  </div>
  <hr>
  <div class="w3-container">

  </div>
  <div class="w3-bar-block">
      {% block menu %}
      {% endblock %}
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:220px;margin-top:43px;margin-right:0px;">
        <ul class="messagelist">
            {% if messages %}
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message | safe }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="w3-main" style="margin-left:250px;margin-right:20px;">
        {% block content %}
        {% endblock %}
      <!-- End page content -->
    </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cerrar sesion</h4>
        </div>
        <div class="modal-body">
          <p>Desea cerrar la sesión?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button onclick="location.href = {% url 'logout' %}"  type="button" class="btn btn-primary" data-dismiss="modal">Salir</button>
        </div>
      </div>
    </div>
  </div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}

</script>

<script>
    {% block scripts %}

    {% endblock scripts%}
</script>

</body>
</html>


