{% extends 'managers/base.html' %}
{% load auth_extras %}
{% load staticfiles %}
{% block menu %}
    {% include "managers/tabs.html" with active_tab='pizarron' %}
{% endblock %}



{% block content %}
    <link rel="stylesheet" href="{% static 'manager/css/tooltip.css' %}">
    <script src="{% static 'manager/js/tooltip.js' %}"></script>
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Raleway", sans-serif
        }

        .box {
            height: 100%;
            width: 100%;
            padding: 0 5% 0 5%;
        }

        .alarm-slot {
        / / padding-right: 10 px;
            height: 130px;
            margin-bottom: 10px;
        }

        .alarm {
            height: 100%;
            width: 100%;
        }

        .fondo {
        / / background-image: url("img/Background-Image-CSS5.jpg");
            background-repeat: repeat-x repeat-y;
            max-height: 100%;
            min-height: calc(100vh - 63px);
            margin-bottom: 0px important !;
            padding-bottom: 0px important !;

        }

        .body-header {
            padding: 10px;
            background-color: rgba(0, 194, 255, 0.21);
            margin-bottom: 15px;
        }

        .text-black {
            color: black !important;
        }

        .text-white {
            color: white !important;
        }

        @media only screen and (min-device-width: 480px) {
            .body-lr-margin {
                margin: 0 30px 0 30px;

            }
        }

        @media only screen and (max-device-width: 480px) {
            .body-lr-margin {
                margin: 0 10px 0 10px;

            }
        }

    </style>
    <!-- Header -->
    <header class="w3-container " style="padding-top:22px">
        <h5 class="body-header w3-card"><b><i class="fa fa-dashboard"></i> Alarmas </b></h5>
    </header>


    <div class="body-lr-margin">

        <div class="row">


            <div class="col-sm-4 alarm-slot">

                <div class="w3-container w3-orange w3-padding-16 box w3-card w3-round-xlarge">

                    <div class="w3-left">
                        <abbr title="Contratos pronto a vencerse (lease menos de {{ info.a0 }} días para el vencimiento) con kilos
                                      pendientes de entrega." rel="tooltip">
                            <i class="fa fa-info-circle w3-xxxlarge"></i>
                        </abbr>
                    </div>

                    <div class="w3-right">
                        <h3>{{ a0 }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <a class="text-black" href="{% url 'operacion_list' %}?alarma=0"><h4>Contratos Prontos a
                        vencerse </h4></a>
                </div>

            </div>

            <div class="col-sm-4 alarm-slot">

                <div class="w3-container w3-red w3-padding-16 box w3-card w3-round-xlarge">
                    <div class="w3-left">
                        <abbr title="Contratos vencido con kilos pendientes de entrega" rel="tooltip">
                            <i class="fa fa-info-circle w3-xxxlarge"></i>
                        </abbr>
                    </div>

                    <div class="w3-right">
                        <h3>{{ a1 }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <a class="text-white" href="{% url 'operacion_list' %}?alarma=1"><h4>Contratos Vencidos PE </h4></a>
                </div>
            </div>

            <div class="col-sm-4 alarm-slot">

                <div class="w3-container w3-purple w3-padding-16 box w3-card w3-round-xlarge">

                    <div class="w3-left">
                        <abbr title="Contratos con liquidaciones por mas toneladas que las acordadas." rel="tooltip">
                            <i class="fa fa-info-circle w3-xxxlarge"></i>
                        </abbr>
                    </div>

                    <div class="w3-right">
                        <h3>{{ a5 }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <a class="text-white" href="{% url 'operacion_list' %}?alarma=5"><h4>Contratos con Excedentes</h4>
                    </a>
                </div>

            </div>


        </div>


        <div class="row">

            <div class="col-sm-4 alarm-slot">

                <div class="w3-container w3-teal w3-padding-16 box w3-card w3-round-xlarge">

                    <div class="w3-left">
                        <abbr title="Liquidaciones cuyo precio no se fijo y faltan menos de {{ info.a4 }} días para la fecha límite de fijación de
                                      precios enunciada en el contrato." rel="tooltip">
                            <i class="fa fa-info-circle w3-xxxlarge"></i>
                        </abbr>
                    </div>

                    <div class="w3-right">
                        <h3>{{ a3 }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <a class="text-white" href="{% url 'operacion_list' %}?alarma=4"><h4> Liq. Pendientes de Precio </h4>
                    </a>
                </div>

            </div>

            <div class="col-sm-4 alarm-slot">

                <div class="w3-container w3-blue w3-padding-16 box w3-card w3-round-xlarge">

                    <div class="w3-left">
                        <abbr title="Liquidaciones cuyo estado es “pendiente de liquidación” y la fecha de cambio de
                                      estado mayor a {{ info.a2 }} días." rel="tooltip">
                            <i class="fa fa-info-circle w3-xxxlarge"></i>
                        </abbr>
                    </div>

                    <div class="w3-right">
                        <h3>{{ a2 }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <a class="text-white" href="{% url 'operacion_list' %}?alarma=2"><h4> Liq. Pendientes de Liquidación</h4>
                    </a>
                </div>

            </div>

            <div class="col-sm-4 alarm-slot">

                <div class="w3-container w3-amber w3-padding-16 box w3-card w3-round-xlarge">

                    <div class="w3-left">
                        <abbr title="Liquidaciones cuyo estado es “Pendiente de pago” y la fecha de cambio de estado
                                      mayor a {{ info.a3 }} días." rel="tooltip">
                            <i class="fa fa-info-circle w3-xxxlarge"></i>
                        </abbr>
                    </div>

                    <div class="w3-right">
                        <h3>{{ a4 }}</h3>
                    </div>
                    <div class="w3-clear"></div>
                    <a class="text-black" href="{% url 'operacion_list' %}?alarma=3"><h4> Liq. Pendiente de Pago</h4></a>
                </div>

            </div>


        </div>


    </div>



    <div class="body-lr-margin">
        <div class="w3-row-padding" style="margin:0 -16px">
            <header style="padding-top:22px">
                <h5 class="body-header w3-card"><b><i class="fa fa-list"></i> Operaciones por aprobar </b></h5>
            </header>
            <div style="overflow-x:auto;overflow-y: auto; max-height: 30vh;">
                <table class="w3-table-all w3-card">
                    {% if request.user|has_group:"global_view" or request.user.is_superuser %}
                        {% for item in op_and_liq_to_be_aproved %}
                            {% with item|classname as modelclass %}
                                {% if modelclass == "Operacion" %}
                                    {% with item as op %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-handshake-o w3-text-black w3-large"></i>
                                                <a style="margin-left: 10px;" href="{% url 'operacion_edit' op.pk %}">
                                                    Agente <b>{{ op.agente }} </b> -
                                                    Contrato con productor <b> {{ op.productor }} </b> por
                                                    <b>{{ op.toneladas }}</b> toneladas de
                                                    <b> {{ op.nombre_cereal }} </b>
                                                    - Creado el {{ op.history.latest.timestamp }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% elif modelclass == "LiquidacionAPrecio" or  modelclass == "LiquidacionAFijar" %}
                                    {% with item as liq %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-truck w3-text-black w3-large"></i>
                                                <a style="margin-left: 10px;" href="{% ifequal liq.tipo 'P' %}
                                                                        {% url 'liquidacion_P_edit' liq.pk %}
                                                                     {% else %}
                                                                        {% url 'liquidacion_F_edit' liq.pk %}
                                                                     {% endifequal %}
                                                                     ">
                                                    Agente <b>{{ liq.contrato.agente }} </b> -
                                                    Liquidacion con productor <b> {{ liq.contrato.productor }} </b> por
                                                    <b>{{ liq.toneladas }}</b> toneladas de
                                                    <b> {{ liq.contrato.nombre_cereal }} </b>
                                                    {% ifequal liq.history.latest.action 0 %}
                                                        - Creada el {{ liq.history.latest.timestamp }}
                                                        </a>

                                                    {% else %}
                                                        - Modificada el {{ liq.history.latest.timestamp }}
                                                        </a>
                                                        <br><a id="show_anchor_{{ liq.tipo }}_{{ liq.pk }}"
                                                               style="margin-left: 35px;font-size: smaller; color:green"
                                                               href="javascript:show_changes('{{ liq.tipo }}',{{ liq.pk }})">
                                                        Ver detalle de cambios </a>
                                                        <div id="changes_{{ liq.tipo }}_{{ liq.pk }}"
                                                             style="display:None; margin: 5px 0 0 15px;">
                                                            <ul style="margin-bottom: 0px">
                                                                {% for key, value in liq.history.latest.changes_display_dict.items %}
                                                                    {% ifnotequal key "Apr" %}
                                                                        <li> <b>{{ key|title }}</b>: Paso de<b>
                                                                        {% ifnotequal value.0 "None" %}
                                                                            {{ value.0 }} {% else %}
                                                                            Indefinido {% endifnotequal %} </b> a
                                                                        <b>{% ifnotequal value.1 "None" %}
                                                                            {{ value.1 }} {% else %}
                                                                            Indefinido {% endifnotequal %} </b>
                                                                    {% endifnotequal %}
                                                                {% empty %}
                                                                    <p>No hay cambios para mostrar</p>
                                                                {% endfor %}
                                                            </ul>
                                                            <a id="hide_anchor_{{ liq.tipo }}_{{ liq.pk }}"
                                                               style="margin-left: 35px;font-size: smaller; color:green"
                                                               href="javascript:hide_changes('{{ liq.tipo }}',{{ liq.pk }})">
                                                                Ocultar detalle de cambios </a>
                                                        </div>
                                                    {% endifequal %}
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        {% empty %}
                            <p style="margin-left: 10px;"> No hay operaciones pendientes de aprobación </p>
                        {% endfor %}
                    {% else %}
                        {% for item in op_and_liq_to_be_aproved %}
                            {% with item|classname as modelclass %}
                                {% if modelclass == "Operacion" %}
                                    {% with item as op %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-handshake-o w3-text-black w3-large"></i>
                                                <a style="margin-left: 10px;" href="{% url 'operacion_detail' op.pk %}">
                                                    Contrato con productor <b> {{ op.productor }} </b> por
                                                    <b>{{ op.toneladas }}</b> toneladas de
                                                    <b> {{ op.nombre_cereal }} </b>
                                                    - Creado el {{ op.history.latest.timestamp }}
                                                </a>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% elif modelclass == "LiquidacionAPrecio" or  modelclass == "LiquidacionAFijar" %}
                                    {% with item as liq %}
                                        <tr>
                                            <td>
                                                <i class="fa fa-truck w3-text-black w3-large"></i>
                                                <a style="margin-left: 10px;" href="{% ifequal liq.tipo 'P' %}
                                                                    {% url 'liquidacion_detail' 'P' liq.pk %}
                                                                 {% else %}
                                                                    {% url 'liquidacion_detail' 'F' liq.pk %}
                                                                 {% endifequal %}
                                                                 ">
                                                    Liquidacion con productor <b> {{ liq.contrato.productor }} </b> por
                                                    <b>{{ liq.toneladas }}</b> toneladas de
                                                    <b> {{ liq.contrato.nombre_cereal }} </b>
                                                    {% ifequal liq.history.latest.action 0 %}
                                                        - Creada el {{ liq.history.latest.timestamp }}
                                                        </a>
                                                    {% else %}
                                                        - Modificada el {{ liq.history.latest.timestamp }}
                                                        </a>
                                                        <br><a id="show_anchor_{{ liq.tipo }}_{{ liq.pk }}"
                                                               style="margin-left: 35px;font-size: smaller; color:green"
                                                               href="javascript:show_changes('{{ liq.tipo }}',{{ liq.pk }})">
                                                        Ver detalle de cambios </a>
                                                        <div id="changes_{{ liq.tipo }}_{{ liq.pk }}"
                                                             style="display:None; margin: 5px 0 0 15px;">
                                                            <ul style="margin-bottom: 0px">
                                                                {% for key, value in liq.history.latest.changes_display_dict.items %}
                                                                    {% ifnotequal key "Apr" %}
                                                                        <li> <b>{{ key|title }}</b>: Paso de<b>
                                                                        {% ifnotequal value.0 "None" %}
                                                                            {{ value.0 }} {% else %}
                                                                            Indefinido {% endifnotequal %} </b> a
                                                                        <b>{% ifnotequal value.1 "None" %}
                                                                            {{ value.1 }} {% else %}
                                                                            Indefinido {% endifnotequal %} </b>
                                                                    {% endifnotequal %}
                                                                {% empty %}
                                                                    <p>No hay cambios para mostrar</p>
                                                                {% endfor %}
                                                            </ul>
                                                            <a id="hide_anchor_{{ liq.tipo }}_{{ liq.pk }}"
                                                               style="margin-left: 35px;font-size: smaller; color:green"
                                                               href="javascript:hide_changes('{{ liq.tipo }}',{{ liq.pk }})">
                                                                Ocultar detalle de cambios </a>
                                                        </div>
                                                    {% endifequal %}
                                            </td>
                                        </tr>

                                    {% endwith %}
                                {% endif %}
                            {% endwith %}
                        {% empty %}
                            <p style="margin-left: 10px;"> No hay operaciones pendientes de aprobación </p>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <hr>



    <!-- End page content -->
    </div>

    <script>
        function show_changes(type, id) {
            $('#show_anchor_' + type + '_' + id).hide();
            $('#changes_' + type + '_' + id).show();
        }

        function hide_changes(type, id) {
            $('#show_anchor_' + type + '_' + id).show();
            $('#changes_' + type + '_' + id).hide();
        }
    </script>
{% endblock %}


