{% extends 'managers/base.html' %}
{% load static %}
{% load staticfiles %}
{% load widget_tweaks %}


{% block content %}
    <link rel="stylesheet" href="{% static 'manager/css/formStyle.css' %}"> <!-- Nando -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    {% block content_header %}
    {% endblock content_header %}

    {% block form %}

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}


            {% if readonly %}
                {% for field in form.visible_fields %}
                    <div class="form-group  form-row">
                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" value="{{ field.value }}" readonly>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for field in form.visible_fields %}
                    <div class="form-group  form-row" id={{ "id_row_"|add:field.html_name }}>
                        <label class="control-label col-sm-2">{{ field.label_tag }}
                            {% if field.field.required or field.html_name == "precio" %}
                                <span class="required">(*)</span>
                            {% endif %}
                        </label>
                        <div class="col-sm-6">
                            {% render_field field class+="form-control" %}
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% block submit_row %}
            {% endblock submit_row %}

        </form>

        <script>
            $(document).ready(function () {
                $('.datepicker').datepicker({dateFormat: 'dd/mm/yy'});
                {% block formJQReadyFunction %}
                {% endblock formJQReadyFunction %}
            });
        </script>

    {% endblock form %}


{% endblock content %}