{% extends 'managers/base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load querystring from django_tables2 %}
{% load title from django_tables2 %}
{% load trans blocktrans from i18n %}
{% load widget_tweaks %}
{% load staticfiles %}

{% block content %}

    {% block content_header %}
    {% endblock content_header %}

    {% comment %} FILTERS {% endcomment %}
    <div style="margin:0 1% 0 1% !important;padding:0!important">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#A0DFFF;">
                    <h4 class="panel-title">
                        <a id="filter_link" data-toggle="collapse" href="#collapse1">
                            Filtros
                            <span class="glyphicon glyphicon-search"></span></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <form class="form-inline" action="" method="get">
                            {% csrf_token %}
                            {% for field in filter.form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}
                                    {% render_field field class+="form-control" %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-default pull-right">Aplicar</button>
                        </form>
                    </div>
                    <div style="background-color:#A0DFFF;" class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>

    {% block table %}
        <div>
            <div class="table-responsive" style="margin-left:1%;margin-right:1%;">
                <table class="table table-hover table-bordered table-striped"{% if table.attrs %}
                    {{ table.attrs.as_html }}{% endif %}>
                    {% block table.thead %}
                        <thead>
                        <tr>
                            {% for column in table.columns %}
                                {% if column.orderable %}
                                    <th {{ column.attrs.th.as_html }}><a
                                            href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header|title }}</a>
                                    </th>
                                {% else %}
                                    <th {{ column.attrs.th.as_html }}>{{ column.header|title }}</th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        </thead>
                    {% endblock table.thead %}
                    {% block table.tbody %}
                        <tbody>
                        {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                            {% block table.tbody.row %}
                                <tr class="{% cycle "odd" "even" %}">
                                    {% for column, cell in row.items %}
                                        <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                            {% endblock table.tbody.row %}
                        {% empty %}
                            {% if table.empty_text %}
                                {% block table.tbody.empty_text %}
                                    <tr>
                                        <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                                    </tr>
                                {% endblock table.tbody.empty_text %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    {% endblock table.tbody %}
                    {% block table.tfoot %}
                        <tfoot></tfoot>
                    {% endblock table.tfoot %}
                </table>
            </div>
            {% if table.page %}
                {% with table.page.paginator.count as total %}
                    {% with table.page.object_list|length as count %}
                        {% block pagination %}
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">

                                    <div class="pagination"
                                         style="width: 300px;display: block;background-color: #eee;margin-left: auto;margin-right: auto;">
                                        {% if table.page.has_previous %}
                                            {% block pagination.previous %}
                                                <li class="previous">
                                                    <a href="
                                                            {% url view_name %}{% querystring table.prefixed_page_field=table.page.previous_page_number %}">{% trans "Previous" %}</a>
                                                </li>
                                            {% endblock pagination.previous %}
                                        {% endif %}

                                        {% if table.page.has_previous or table.page.has_next %}
                                            {% block pagination.cardinality %}
                                                <li class="cardinality" style="padding-left:2px">
                                                    {% blocktrans with table.page.number as current and table.paginator.num_pages as total %}
                                                        Página {{ current }} de {{ total }}{% endblocktrans %}
                                                </li>
                                            {% endblock pagination.cardinality %}
                                        {% endif %}

                                        {% if table.page.has_next %}
                                            {% block pagination.next %}
                                                <li class="next">
                                                    <a href="
                                                            {% url view_name %}{% querystring table.prefixed_page_field=table.page.next_page_number %}">{% trans "Next" %}</a>
                                                </li>
                                            {% endblock pagination.next %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        {% endblock pagination %}
                    {% endwith %}
                {% endwith %}
            {% endif %}
        </div>
    {% endblock table %}
{% endblock content %}

