{% load auth_extras %}

<a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
<a href="{% url 'dashboard' %}" class="w3-bar-item w3-button w3-padding {% if active_tab == 'pizarron' %} w3-blue {% endif %}"><i class="fa  fa-newspaper-o fa-fw"></i>  Pizarron </a>
<a href="{% url 'productor_list' %}" class="w3-bar-item w3-button w3-padding {% if active_tab == 'productores' %} w3-blue {% endif %}"><i class="fa fa-users fa-fw"></i>  Productores</a>

{% if request.user|has_group:"global_view" or request.user.is_superuser %}
<a href="{% url 'agente_list' %}" class="w3-bar-item w3-button w3-padding {% if active_tab == 'agentes' %} w3-blue {% endif %}"><i class="fa fa-user-secret fa-fw"></i>  Agentes</a>
{% endif %}

<a href="{% url 'operacion_list' %}" class="w3-bar-item w3-button w3-padding {% if active_tab == 'operaciones' %} w3-blue {% endif %}"><i class="fa fa-handshake-o fa-fw"></i>  Operaciones</a>


<a href="{% url 'userprofile_edit' %}" class="w3-bar-item w3-button w3-padding {% if active_tab == 'preferencias' %} w3-blue {% endif %}"><i class="fa fa-cog fa-fw"></i>  Preferencias</a>

<a href="" class="w3-bar-item w3-button w3-padding" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-out  fa-fw"></i>  Salir</a>
